
<pre><code>|         o|    |              |                   |              
|--- . . ..|--- |--- ,---.,---.|--- ,---.,---.,---.|__/ ,---.,---.
|    | | |||    |    |---'|    |    |    ,---||    |  \ |---'|    
`---'`-'-'``---'`---'`---'`    `---'`    `---^`---'`   ``---
</code></pre>

<h2 id="about">About</h2>

<p>A simple Twitter alert service with e-mail notifications.
Sign up, register a set of keywords and receive notifications
of tweets matching these keywords.</p>

<h3 id="features">Features</h3>

<ul>
  <li>Multiple keyword tracking, eg.: <code>justin bieber</code>.</li>
  <li>Selecting notification frequency between daily, hourly, instantly or never.</li>
  <li>Exporting tracked tweets on a CSV file.</li>
</ul>

<h3 id="try-it">Try it</h3>
<p>At <a href="http://purple.endofinternet.org:8000">http://purple.endofinternet.org:8000</a></p>

<h3 id="author">Author</h3>
<p>Gustavo Brunoro (root at brunoro dot org)</p>

<h2 id="technical-details">Technical details</h2>

<h3 id="concepts">Concepts</h3>
<p>There are three entities (or models), in the system:</p>

<ul>
  <li><em>Tweet</em>: a message collected from Twitter. </li>
  <li><em>Tracking</em>: a set of keywords separed by space; 
            a <em>Tracking</em> contains many <em>Tweets</em>;
        the same <em>Tweet</em> can belong to two different <em>Trackings</em>;
        a <em>Tweet</em> must match all keywords of a <em>Tracking</em> to be contained on it;
        the keywords on <em>Tracking</em> cannot be modified.</li>
  <li><em>User</em>: has many <em>Trackings</em>;
        one <em>Tracking</em> can only belong to one user;</li>
</ul>

<h3 id="modules">Modules</h3>
<ul>
  <li><em>Tracker</em>: service that collects <em>Tweets</em> from the Twitter Streaming API
           according to the keywords present on all <em>Trackings</em> on the 
       database. As of network capacity, only one connection is kept
       open with the Twitter API, and this connection collects the set
       of all keywords needed.
       A separate thread checks for changes on the set of  keywords to track 
       on the database on a fixed frequency (default 300 seconds). 
       If there are any new keywords, the connection with the API is restarted 
       for the new set.
       When a tweet is recieved, all <em>Trackings</em>  are checked for a match. 
       English stopwords and punctuation are not considered on keywords. 
       The matching case insensitive. A <em>Notifier</em> may also be called if 
       the matched <em>Tracking</em> notification option is set to <em>instantly</em>.</li>
  <li><em>Notifier</em>: module that notifies matched <em>Tweets</em> to <em>Users</em>. It has two methods:
            one to notify one <em>Tweet</em> when it arrives (notification option set to
        <em>instantly</em>) or to notify a set of <em>Tweets</em> on reports (notification set
        to <em>daily</em> or <em>hourly</em>). On the case of the instant notification, the
        method is called from within the <em>Tracker</em> module. For the periodical
        notifications, the call is made from a task registered to run at the 
        given frequency on the server to notify all <em>Trackings</em> defined at that
        option.</li>
  <li><em>Web Interface</em>: module that allows <em>Users</em> to sign in, create and remove <em>Trackings</em>, edit
                 their notification options and view its current <em>Tweets</em> and <em>Trackings</em>.
         The interface shows all <em>Tweet</em> timestamps on the user-defined timezone.
         There is an option to export all <em>Tweets</em> from a <em>Tracking</em> to a CSV file.</li>
</ul>

<h3 id="technologies">Technologies</h3>
<ul>
  <li><a href="http://rubyonrails.org">Ruby on Rails</a>: robust web framework for the Ruby language. Used to build the user interface and
               for sending mails through a SMTP server.</li>
  <li><a href="http://mongodb.org">MongoDB</a>: scalable NoSQL database based on a collection/document abstraction.</li>
  <li><a href="twitter.github.com/bootstrap/">Bootstrap</a>: CSS/Javascript toolkit for quickly making applications have a pleasant look-and-feel</li>
  <li><a href="https://dev.twitter.com/docs/streaming-apis">Twitter Streaming API</a>: service from Twitter that allows collecting tweets filtered by keywords streamed through an open connection.</li>
  <li>Cron: UNIX daemon to schedule jobs. Used here for scheduling the frequent <em>Notifiers</em>.</li>
</ul>

<h3 id="deploy">Deploy</h3>
<p>The application is currently deployed using <a href="https://github.com/capistrano/capistrano">Capistrano</a> over the <a href="http://unicorn.bogomips.org/">Unicorn</a> server. 
The corresponding configuration files are found in <code>config/deploy.rb</code> and <code>config/unicorn.rb</code>.
The tracker has to be started manually using the provided rake task <code>rake track</code>.
The tracker configuration (including Twitter API keys) have to be setup on <code>config/tacker.yml</code>.
Cronjobs are setup manually using the tasks <code>rake notify:hourly</code> e <code>rake notify:daily</code>.</p>

<h3 id="directory-structure">Directory structure</h3>
<p>The system is disposed by the standard file structure for Rails projects. Some relevant files:</p>

<ul>
  <li><code>Gemfile</code>: lists the required gems for the project, which are installed by running <code>bundle install</code></li>
  <li><code>app/controllers</code>: directory containing the controller classes.</li>
  <li><code>app/helpers/application_helper.rb</code>: defines the helper methods used throughout the application, such as date formatting.</li>
  <li><code>app/mailers/tracking_notifier.rb</code>: class that provides methods for frequent and instant notifications.</li>
  <li><code>app/models</code>: definition of the entities manipulated on the system.</li>
  <li><code>app/views</code>: all the code used to generate the html pages served on the webapp, the csv format used for exporting trackings and the mail html notifications.</li>
  <li><code>config/application.rb</code>: main configuration file for the project.</li>
  <li><code>config/deploy.rb</code>: definition of the tasks for deployment using Capistrano.</li>
  <li><code>config/unicorn.rb</code>: configuration of the Unicorn application server.</li>
  <li><code>config/routes.rb</code>: maps all the URLs served by the app.</li>
  <li><code>config/tracker.yml</code>: contains the Twitter API keys and parameters of the tracker.</li>
  <li><code>config/mongoid.yml</code>: parameters for connecting with MongoDB.</li>
  <li><code>config/mailer.rb</code>: ActionMailer SMTP settings.</li>
  <li><code>db/seeds.rb</code>: task that puts the database on the inital state.</li>
  <li><code>lib/tasks/notify.rake</code>: rake tasks for hourly and daily notification.</li>
  <li><code>lib/tasks/track.rake</code>: implementation of the Twitter tracker.</li>
</ul>
