<h2>Account details</h2>

<div class="row">
  <%= form_for(resource, :as   => resource_name, 
                         :url  => registration_path(resource_name), 
                         :html => { :class  => 'well span4',
                                    :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email, "E-mail<br><em>(notifications will be sent to this mail)</em>".html_safe%>
    <%= f.email_field :email %></div>

    <div><%= f.label :timezone %>
    <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all %></div>

    <div><%= f.label :password, "New password<br><em>(leave blank if you don't want to change it)</em>".html_safe %> 
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :password_confirmation, "Confirm your new password" %>
    <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Current password<br><em>(we need your current password to confirm your changes)</em>".html_safe %>
    <%= f.password_field :current_password %></div>

    <div><%= f.submit "Update", :class => 'btn' %></div>
  <% end %>
</div>

<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
