<h2>Sign up</h2>

<div class="row">
  <%= form_for(resource, :as   => resource_name, 
                         :url  => registration_path(resource_name), 
                         :html => { :class  => 'well span4' }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email, "E-mail<br><em>(notifications will be sent to this mail)</em>".html_safe%>
    <%= f.email_field :email %></div>

    <div><%= f.label :timezone %>
    <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all, :default => "UTC" %></div>

    <div><%= f.label :password %> 
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up", :class => 'btn' %></div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
