<h1>This tweet may interest you</h1>
<h3>Collected tracking '<%= format_date(in_user_timezone(@tweet.timestamp, @tracking.user)) %>'</h3>

<p><%= link_to("see all tweets tracked for these keywords",
               "#{@url}/tracking/#{@tracking._id}") %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Text</th>
      <th>User</th>
      <th>Time</th>
    </tr>
  </thead>

  <% t = @tweet %>
  <tbody>
    <tr>
      <td class="text-cell"><%= link_to(t.text, t.link) %></td>
      <td class="info-cell"><%= t.twitter_user %></td>
      <td class="info-cell"><%= format_date(in_user_timezone(t.timestamp, @tracking.user)) %></td>
    </tr>
  </tbody>
</table>
