<h1>Tracked tweets for '<%= @tracking.keywords %>'</h1>
<h3><%= @tweets.size %> tweets collected since <%= format_date(in_user_timezone(@timestamp, @tracking.user)) %></h3>

<p><%= link_to("see all tweets tracked for these keywords",
               "http://purple.endofinternet.org:8000/tracking/#{@tracking._id}") %></p>
<table class="table table-striped">
  <% if @tweets.size > 0 %>
  <thead>
    <tr>
      <th>Text</th>
      <th>User</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |t| %>
    <tr>
      <td class="text-cell"><%= link_to(t.text, t.link) %></td>
      <td class="info-cell"><%= t.twitter_user %></td>
      <td class="info-cell"><%= format_date(in_user_timezone(t.timestamp, @tracking.user)) %></td>
    </tr>
    <% end %>
  </tbody>

  <% else %>
    <p> No tweets have been matched </p>
  <% end %>
</table>
