<h1>Current Trackings
<button class='btn btn-primary' id='open_create_modal'>add new</p></button>
</h1>

<% if @trackings.size > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Keywords</th>
      <th>Notifies</th>
      <th>Matched tweets</th>
      <th>Last tweet</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trackings.each do |t| %>
    <tr>
      <td><%= link_to(t.keywords, "/tracking/#{t._id}") %></td>
      <td><%= t.notify %></td>
      <td><%= t.tweets.size %></td>
      <td class="info-cell"><%= t.tweets.empty? ?
        "none":
        format_date(in_user_timezone(t.tweets.reduce do |newer, turn| 
          turn.timestamp > newer.timestamp ? turn : newer
        end.timestamp, t.user)) %></td>
  
      <td><%= link_to('<i class="icon-file" title="export CSV"></i>'.html_safe, "/tracking/#{t._id}.csv") %>
          <% export_link = link_to('export a CSV with the collected data', "/tracking/#{t._id}.csv") %>
          <%= link_to('<i class="icon-trash title="delete tracking"></i>'.html_safe, "/tracking/#{t._id}/delete",
                       :confirm => "Are you sure you want to delete '#{t.keywords}'?<br>
                                    You might want to #{export_link}")%></td>

    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p> You're not tracking any words, start tracking here </p>
<% end %>

<div class="modal hide" id="create_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New Tracking</h3>
  </div>
  <%= form_tag "/tracking/create" do %>
  <div class="modal-body">
    <p>
      <%= label_tag("keywords", "Keywords: <br><em>(separated by spaces; only tweets that match all of the keywords will be tracked)</em>".html_safe) %>
      <%= text_field_tag("new[keywords]") %>
    </p>

    <p>
      <%= label_tag("notify", "Notify me: ") %>
      <% ['never', 'instantly', 'hourly', 'daily'].each do |n| %>
        <% is_checked = n == "hourly" %>
        <%= radio_button_tag("new[notify]", n, is_checked) %>
        <%= label_tag(n, n, :class => "inline-label") %>
      <% end %>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Discard changes</a>
    <%= submit_tag("Start tracking", :class => 'btn btn-primary') %>
  <% end %>
  </div>
</div>

<script>
  $(function() {
    $("#open_create_modal").click(function() {
      $("#create_modal").modal();
      $(".icon-trash").tooltip();
      $(".icon-file").tooltip();
    });
  });
</script>
