<h2>Change your password</h2>

<div class="row">
  <%= form_for(resource, :as   => resource_name, 
                         :url  => password_path(resource_name), 
                         :html => { :class  => 'well span4',
                                    :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div><%= f.label :password, "New password" %>
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Change my password" :class => 'btn' %></div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
