<h2>Forgot your password?</h2>

<%= form_for(resource, :as   => resource_name, 
                       :url  => password_path(resource_name), 
                       :html => { :class  => 'well',
                                  :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions", :class => 'btn' %></div>
<% end %>

<%= render "devise/shared/links" %>
