<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
        <%= link_to('home', '/home/index') %>
        </li>

        <% if user_signed_in? %>
          <li>
          <%= link_to('trackings', "/trackings") %>
          </li>
          <li>
          <%= link_to('account details', edit_user_registration_path) %>
          </li>
          <li>
          <%= link_to('logout', destroy_user_session_path, :method=>'delete') %>        
          </li>
        <% else %>
          <li>
          <%= link_to('login', new_user_session_path)  %>  
          </li>
          <li>
          <%= link_to('sign up', new_user_registration_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

