<div class="header-gigantic">
  <h1>twittertracker</h1>
</div>

<div class="row">
  <div class="span4">
    <h3>Define the keywords to track</h3>
    <p>Create <em>trackings</em>, or sets of keywords to be tracked on Twitter. Both hashtags and regular keywords are accepted. You can create many different sets of keywords to follow separately</p>
  </div>

  <div class="span4">
    <h3>Setup your notification preferences</h3>
    <p>Define whether you want to be notified instantly when a tweet arrives, recieve a summary of the tracked tweets hourly or daily, or just view the the tweets on the <em>tracking</em>'s page. The notifications will arrive on your sign up e-mail.
  </div>
</div>
