<h2>Sign in</h2>

<div class="row">
  <%= form_for(resource, :as   => resource_name, 
                         :url  => session_path(resource_name), 
                         :html => { :class  => 'well span4' }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
    <%= f.email_field :email %></div>

    <div><%= f.label :password %> 
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :class => "inline-label" %></div>
    <% end -%>

    <div><%= f.submit "Sign in", :class => 'btn' %></div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
