// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-gigantic {
  h1 {
    font-size: 72px;
  }

  margin-top: 10px;
  margin-bottom: 30px;
}
