<h1>Tracking for "<%= @tracking.keywords %>"
<%= form_tag "/tracking/#{@tracking._id}/update" do %>
  <label class="inline-label">Notifications: </label>
  <% ['never', 'instantly', 'hourly', 'daily'].each do |n| %>
    <% is_checked = @tracking.notify == n %>
    <%= radio_button_tag("notify", n, is_checked) %>
    <%= label_tag(n, n, :class => 'inline-label') %>
  <% end %>
  <%= submit_tag("save", :class => 'btn') %>
<% end %>
</h1>
<% if @tracking.tweets.size > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Text</th>
      <th>User</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @tracking.tweets.each do |t| %>
    <tr>
      <td class="text-cell"><%= link_to(t.text, t.link) %></td>
      <td class="info-cell"><%= t.twitter_user %></td>
      <td class="info-cell"><%= format_date(in_user_timezone(t.timestamp, @tracking.user)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <p> No tweets have matched these keywords yet.</p>
<% end %>
