<% require 'csv' %>
<% csv_string = CSV.generate do |csv| %>
  <% @tracking.tweets.each do |t| %>
    <% csv << [format_date(in_user_timezone(t.timestamp, @tracking.user)), t.twitter_id, t.twitter_user, t.text] %>
  <% end %>
<% end %>

<%= csv_string.html_safe %>
